@import url(https://project-test-submission.netlify.app/style/style.css);

::selection {
  background: #000000B3;
  color: #84D4FA
}

/* *, */
html {
  scrollbar-color: #84D4FA #FFF;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 50;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
:root {
  --white-1: #FFFFFF;
  --white-2: #F5F5F5;
  --blue-1: #409EFE;
  --blue-2: #84D4FA;
  --purple-1: #926AFF;
  --purple-2: #3A4B8A;
  --red-1: #FE4040;
  --red-2: #FF7070;
  --red-3: #fBB9B6;
  --green-1: #1ED760;
  --green-2: #00CC4F;
  --yellow-1: #050504;
  --grey-1: #333333;
  --grey-2: #666666;
  --grey-3: #777777;
  --grey-4: #999999;
  --grey-5: #CCCCCC;
  --black: #000000;
  --white-transparent-1: #F5F5F5B3;
  --white-transparent-2: #FFFFFF80;
  --green-transparent-1: #00CC4FB3;
  --black-transparent: #000000B3
}

.main-banner {
  background-image: url(../images/banner-bg.jpg);
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/footer-bg.jpg);
}