:root {
    --white-1: #FFFFFF;
    --white-2: #F5F5F5;
    --blue-1: #409EFE;
    --blue-2: #84D4FA;
    --purple-1: #926AFF;
    --purple-2: #3A4B8A;
    --red-1: #FE4040;
    --red-2: #FF7070;
    --red-3: #fBB9B6;
    --green-1: #1ED760;
    --green-2: #00CC4F;
    --yellow-1: #050504;
    --grey-1: #333333;
    --grey-2: #666666;
    --grey-3: #777777;
    --grey-4: #999999;
    --grey-5: #CCCCCC;
    --black: #000000;
    --white-transparent-1: #F5F5F5B3;
    --white-transparent-2: #FFFFFF80;
    --green-transparent-1: #00CC4FB3;
    --black-transparent: #000000B3
}