@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap);

::-moz-selection {
    background: #000000b3;
    color: #00cc4f
}

::selection {
    background: #000000b3;
    color: #00cc4f
}

* {
    outline: 0;
    text-decoration: 0;
    box-sizing: border-box
}

*,
html {
    scrollbar-color: #409EFE #FFF;
    scrollbar-width: thin;
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif
}

a,
button {
    cursor: pointer;
}

button,
img,
input {
    user-select: none
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    box-shadow: inset 0 0 5px #0d0d0d
}