/* font จาก google fonts */
/* font-family: 'Press Start 2P', system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: 'Bai Jamjuree', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

/* -style--------------------------------------------------------------------------------------------- */

/* Code for Firefox */
::-moz-selection {
  background: #000000b3;
  color: #1ed760;
}

::selection {
  background: #000000b3;
  color: #1ed760;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #409efe #cccccc;
  scrollbar-width: thin;
}

bode {
  font-family: "Bai Jamjuree", sans-serif;
}
