@import url(https://project-test-submission.netlify.app/style/style.css);

:root {
    --accent-color: #FF4040;
}

::selection {
    background: var(--primary-color);
    color: #0D0D0D
}

*,
html {
    scrollbar-color: var(--primary-color) #FFF;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.main_BG {
    background-color: var(--primary-color);
}

.main_text {
    color: var(--primary-color);
}

input[type=radio] {
    appearance: none;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

input[type=radio]:checked {
    background-color: var(--primary-color);
}

span {
    color: var(--accent-color);
}