@import url(https://project-test-submission.netlify.app/style/style.css);

*,
html {
    scrollbar-color: #409EFE #FFF;
    scrollbar-width: thin;
}

body {
    background-color: #0d0d00;
}

video#video-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
    z-index: -1;
}

div#click-to-enter div,
h1,
p#title {
    text-shadow: 0 0 48px #409efe, 0 0 48px #409efe;
}

svg {
    fill: #409efe;
    filter: drop-shadow(0px 0px 12px #409efe);
}

div#click-to-enter,
section {
    cursor: url("/images/curser.png"), auto;
}

section#project {
    cursor: auto;
}

#welcomeProgress::-webkit-progress-bar {
    background-color: #ccc;
}

#welcomeProgress::-webkit-progress-value {
    background-color: #409efe;
}

#welcomeProgress::-moz-progress-bar {
    background-color: #409efe;
}

.load {
    animation: 1s infinite move3;
}

.load:first-child {
    animation-delay: 1s;
}

.load:nth-child(2) {
    animation-delay: 1.5s;
}

@keyframes move3 {

    0%,
    100% {
        height: 0.5em;
    }

    50% {
        height: 1.2em;
    }
}