    /* font จาก google fonts */
    /* font-family: 'Press Start 2P', system-ui; */
    @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    /* font-family: 'Bai Jamjuree', sans-serif; */
    @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

    /* Code for Firefox */
    ::-moz-selection {
        background: #000000B3;
        color: #1ED760;
    }

    ::selection {
        background: #000000B3;
        color: #1ED760;
    }

    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        font-family: 'Bai Jamjuree', sans-serif;
    }

    html {
        scrollbar-color: #409EFE #CCCCCC;
        scrollbar-width: thin;
        scroll-behavior: smooth;
        /* ทำให้เลื่อนนุ่มนวล */
    }

    body {
        animation: opacity 1s ease-in-out;
    }

    @keyframes opacity {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    div.table_component table {
        border: 1px solid #DEDEDF;
        table-layout: fixed;
        border-collapse: collapse;
    }

    div.table_component td {
        border: 1px solid #DEDEDF;
        transform: opacity .6s ease;
    }

    td:hover {
        opacity: .25;

    }

    td:active {
        transform: scale(0.9);
    }

    @media only screen and (max-width: 768px) {
        td:hover {
            opacity: 1;
        }
    }