    @import url(https://project-test-submission.netlify.app/style/style.css);

body {
  animation: opacity 700ms ease-in-out;
  overflow: hidden;
  min-height: 100vh;
}

@keyframes opacity {
  from{opacity:0;}to{opacity:1;}
}

div.table_component table {
  table-layout: fixed;
  border-collapse: collapse;
}

div.table_component th {
  background-color: #E5E7EB;
}

th,
td {
  border-width: 1px;
  cursor: default;
  transition: all 300ms;
}

th:hover,
td:hover {
  background-color: #E3F2FD !important;
}