html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  /* overflow: hidden; */
}

h1 {
  text-align: center;
}

form#birthday-form {
  display: grid;
}

input,
button {
  box-sizing: border-box;
  margin: 5px 10px 10px 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}

input[type="text"] {
  cursor: text;
}

.friend-list {
  margin-top: 20px;
}

.friend-item {
  margin: 10px 0;
  /* padding: 10px 0 0 10px; */
  border: solid #cccccc 1px;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.friend-details {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: auto;
}

.friend-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid #cccccc 1px;
  gap: 5px;
}

.friend-name {
  font-weight: bold;
}

.friend-birthday {
  font-size: 14px;
}

.friend-countdown {
  font-size: 16px;
  margin: 10px;
  color: #409efe;
}

.delete-btn,
.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  width: 30px;
  height: 25px;
}
.delete-btn {
  background-color: #ff7070;
}

.delete-btn::after {
  content: "";
  display: inline-block;
  background-image: url("/images/delete.png");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

.edit-btn::after {
  content: "";
  display: inline-block;
  background-image: url("/images/edit.png");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
